.register {
  margin-top: 10%;
}

.register-button-group {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
}

.register-button-group button {
  width: 30%;
}

.register-server-error {
  font-style: italic;
  color: #dc3545;
}