.dashboard-container {
  text-align: center;
}

.dashboard-container h1 {
  font-size: 3rem;
}

.bi-cash-coin {
  font-size: 15vw;
}

.dashboard-budget-button, .dashboard-expenses-button {
  margin: 3rem;
  font-size: 1.2rem;
  padding: 1rem 1.5rem;
}

.budget-select {
  margin: 0 2rem 2rem 2rem;
}

.chart-top-row {
  margin-top: 2rem;
}

.gauge-container {
  margin-top: 3rem;
}

.pie-chart {
  display: flex;
  justify-content: center;
}

.gauge-chart {
  display: flex;
  justify-content: center;
}

.chart-bottom-row {
  margin-top: 4rem;
}