.budget-container {
  text-align: center;
}

.budget-container h1 {
  font-size: 3rem;
}

.budget-label-row {
  margin-top: 2rem;
}

.budget-add-button, .budget-dashboard-button {
  margin: 2rem;
  font-size: 1.2rem;
}