.expense-container {
  text-align: center;
}

.expense-container h1 {
  font-size: 3rem;
}

.expense-select {
  margin: 2rem;
}

.expense-label-row {
  margin-top: 2rem;
}

.expense-add-button, .expense-dashboard-button {
  margin: 2rem;
  font-size: 1.2rem;
}

.expense-server-error {
  font-style: italic;
  color: #dc3545;
}