.expense-container {
  text-align: center;
}

.expense-container h1 {
  font-size: 3rem;
}

.budget-entry-col {
  text-align: left;
  margin-top: 1rem;
}

.budget-entry-col label {
  margin-left: 2rem;
}

.expense-select {
  margin: 0 2rem 2rem 2rem;
}

.expense-label-row {
  margin-top: 2rem;
}

.expense-add-button, .expense-dashboard-button {
  margin: 2rem;
  font-size: 1.2rem;
}

.expense-server-error {
  font-style: italic;
  color: #dc3545;
}